[submodule "ActionsYouCanHandle"]
	path = ActionsYouCanHandle
	url = https://github.com/movinglinguini/ActionsYouCanHandle
[submodule "Adjoint-Logic-in-Agda"]
	path = Adjoint-Logic-in-Agda
	url = https://github.com/movinglinguini/Adjoint-Logic-in-Agda
[submodule "AgdaADJ"]
	path = AgdaADJ
	url = https://github.com/movinglinguini/Adjoint-Logic-in-Agda
